{% extends 'AppBundle::layout.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>{{ 'app.name' | trans }}</h1>
            <p class="lead">{{ 'home.lead' | trans | raw }}</p>
            <div class="form-home">
                {% if link.id %}
                    <div class="form-group">
                        <input type="url" id="js-url" class="input-lg form-control" value="{{ app.request.schemeAndHttpHost ~ '/' ~ link.code }}">
                    </div>
                    <button type="button" data-clipboard-target="#js-url" class="btn btn-primary btn-lg">{{ 'home.copy_url_button' | trans }}</button>
                    <br><br><br>
                    <a href="/">{{ 'home.add_another_url' | trans }}</a>
                {% else %}
                    {{ form_start(form) }}
                    <div class="form-group">
                        <label class="sr-only" for="url">{{ 'home.form.url_label' | trans }}</label>
                        {{ form_widget(form.url, {'attr': {'class': 'input-lg', 'placeholder': 'home.form.url_placeholder' | trans }}) }}
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg">{{ 'home.form.submit_button' | trans }}</button>
                    {{ form_end(form) }}
                {% endif %}
            </div>
        </div>
    </div>
    <!-- /.row -->
{% endblock %}